<div class="footer row m-0 px-4 navbar-dark bg-dark">
    <div class="col-md-10 col-lg-8 mx-auto py-3 row px-auto">
        <div class="text-light col-md-6 col-12">
            <NavLink class="text-light" href="/">@(DateTime.Now.ToString("yyyy"))</NavLink>
            <NavLink class="text-light" href="https://github.com/wahid-d/codwiz.net/blob/dev/LICENCE"><small>MIT licence</small></NavLink>
        </div>
        <div class="text-light col-md-6 col-12">
            <a href="https://github.com/wahid-d" class="badge badge-dark mx-auto">
                <i class="fab fa-github fa-lg"></i>
            </a>
            <a href="https://twitter.com/wahid__david" class="badge badge-secondary mx-auto">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://t.me/david_wahid" class="badge badge-primary mx-auto">
                <i class="fab fa-telegram-plane"></i>
            </a>
        </div>
    </div>
</div>