@inherits LayoutComponentBase
<div class="main">
    <Navbar/>
    <div class="row px-4">
        <div class="col-md-10 col-lg-8 mx-auto">
            @Body
        </div>
    </div>
</div>
<Footer />