<div class="bg-dark row px-4">
    <nav class="col-md-10 col-lg-8 mx-auto navbar navbar-expand-sm navbar-dark bg-dark">
        <NavLink class="navbar-brand" href="/"><strong>CODWIZ.NET</strong></NavLink>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-items" aria-controls="navbar-items" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-items">
            <ul class="navbar-nav ml-auto my-auto mr-4">
                <li class="nav-item">
                    <NavLink class="nav-link" href="about">about me</NavLink>
                </li>
            </ul>
            @* <form class="form-inline my-2">
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> *@
        </div>
    </nav>

</div>