<div class="right col-md-12 col-lg-2 mt-5" style="width: 100%; height: auto;">
    <h5>Connect now</h5>
    <div class="row">
        <h3 class="m-1 font-normal">
            <a href="https://github.com/wahid-d" class="badge badge-dark mx-auto">
                github <i class="fab fa-github"></i>
            </a>
        </h3>

        <h3 class="m-1">
            <a href="https://twitter.com/wahid__david" class="badge badge-primary mx-auto">
                twitter <i class="fab fa-twitter"></i>
            </a>
        </h3>
        <h3 class="m-1">
            <a href="https://t.me/david_wahid" class="badge badge-secondary mx-auto">
                telegram <i class="fab fa-telegram-plane"></i>
            </a>
        </h3>
    </div>
</div>