@page "/"
@using spa.Services
@using spa.Models.Github
@inject IGithubClient gitClient
@inject IMarkdownClient markdownClient

<div class="row px-4">
    <LeftPanel />
    <div class="col-sm-12 col-md-10 col-lg-8 mx-auto order-first">
        <h1>Hello, world!</h1>

        <p>Welcome to your new app.</p>

        @foreach (var content in contents)
        {
            <p>@content.Name</p>
            <p>@content.Type</p>
            <p>@content.DownloadUrl</p>
        }

        @(new MarkupString(markdown))
    </div>
    <RightPanel />
</div>

@code
{ 
    List<GitContent> contents = new List<GitContent>();
    string markdown = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        contents = await gitClient.GetFolderContents();
        markdown = await markdownClient.ParseMarkdownFromUrl(contents[0].DownloadUrl);
    } 
}