@page "/"
@using spa.Services
@inject IGithubClient gitClient

<div class="row px-4">
    <LeftPanel />
    <div class="col-sm-12 col-md-10 col-lg-8 mx-auto order-first">
        <h1>Hello, world!</h1>

        <p>Welcome to your new app.</p>

        @content
    </div>
    <RightPanel />
</div>

@code
{
    string content = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        content = await gitClient.GetPosts();
    }
}