@page "/"
<div class="row px-4">
    <LeftPanel />
    <div class="col-sm-12 col-md-10 col-lg-8 mx-auto order-first">
        <h1>Hello, world!</h1>

        <p>Welcome to your new app.</p>
    </div>
    <RightPanel />
</div>